<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Food Recommendations</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <!-- Header Section -->
    <header>
        <h1>HealthBite</h1>
        <nav>
            <ul>
                <li><a href="inde.html">Home</a></li>
                
                <!-- <li><a href="#">Dietary Recommendations</a></li> -->
                <li><a href="index.html">Health Guidelines</a></li>
                <li><a href="http://127.0.0.1:5000">Donate</a></li>
                <li><a href="front.html">About Us</a></li>
                <li><a href="http://127.0.0.1:5000/donations">Inventory</a></li>
            </ul>
        </nav>
    </header>

    
    <div class="container">
        <h1>🍽️ Healthy Eating Tips</h1>
        <div class="frame">
            <div id="feed" class="grid"></div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
